<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="FacebookAppId" value="241081449272853"/>
    <add key="FacebookNamespace" value="dislikeanything"/>
    <add key="FacebookSecretKey" value="fc44959f9b64f531992c2923efb683c4"/>
    <add key="FacebookRedirectUrl" value="http://dislikeanything.com/Login.aspx"/>
    
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
